@model IEnumerable<DoAnMonHoc.ViewModel.CardVM>

@foreach(var item in Model)
{
    <tr>
        <td class="align-middle"><a asp-action="Detail" asp-controller="Product" asp-route-maSP="@item.MaSP"><img src="~/img/danhmuc/@item.Hinh" alt="@item.TenSp" style="width: 50px;">@item.TenSp</a></td>
        <td class="align-middle">@item.DonGia VNĐ</td>
        <td class="align-middle">
            <form asp-action="ThemVaoGioHang" asp-controller="Cart" asp-route-maSP="@item.MaSP">
                <div class="input-group quantity mx-auto" style="width: 100px;">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-primary btn-minus" type="button">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="@item.soLuong" name="soLuongMua">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-  primary btn-plus" type="button">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </td>
        <td class="align-middle">@item.tongTien VNĐ</td>
        <td class="align-middle">
            <form asp-controller="Cart" asp-action="RemoveCart" asp-route-loai="@item.MaSP" method="post">
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-times"></i>
                </button>
            </form>
        </td>
    </tr>
}
@await Html.PartialAsync("_ThayDoiSoLuongSanPham")