@inject DoAnMonHoc.Data.ApplicationDbContext db;

<!-- ======= San Pham Section ======= -->
<section id="sanpham" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Sản phẩm</h6>
            <h1 class="font-awesome display-4">AZ & Studio</h1>
            <i class="far fa-heart text-dark"></i>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-prewedding">Pre-Wedding</li>
                    <li data-filter=".filter-card">Kỷ Yếu</li>
                    <li data-filter=".filter-web">Fashion</li>
                    <li data-filter=".filter-lecuoi">Lễ cưới</li>
                    <li data-filter=".filter-event">Sự kiện</li>
                    <li data-filter=".filter-chandung">Chân Dung</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            @foreach(var item in db.Album.ToList())
            {
                <div class="col-lg-4 col-md-6 portfolio-item @item.Type">
                    <a href="@item.LinkOutAlbumAnh">
                        <img src="@item.LinkAlbumAnh" class="img-fluid" alt="">
                        <div class="portfolio-info text-center">
                            <h4>@item.TenAlbum</h4>
                            <p>@item.GhiChu</p>
                            <a href="@item.LinkAlbumAnh" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </a>
                </div>
            }

            <div class="col-lg-4 col-md-6 portfolio-item filter-lecuoi">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720312520849/">
                    <img src="img\gallery\53315753088_a11d4810fb_o.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info text-center">
                        <h4>Lễ đính hôn</h4>
                        <p>Thu Uyên & Hiếu Duy</p>
                        <a href="img\gallery\53315753088_a11d4810fb_o.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-chandung">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720312493310/">
                <img src="img\gallery\53315989685_dddba6daac_o.jpg" class="img-fluid" alt="">
                <div class="portfolio-info text-center">
                    <h4>Concept tết</h4>
                    <p>Model Quỳnh Như</p>
                    <a href="img/gallery\53315989685_dddba6daac_o.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720312493310/" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-event text-center">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720307481634/">
                <img src="img/gallery/ThanhThuy.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Event</h4>
                    <p>Miss Hutech 2023</p>
                    <a href="img/gallery/ThanhThuy.png" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-prewedding">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720316275256/">
                    <img src="~/img/gallery/1 (9).jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Prewedding</h4>
                        <p>Thảo nguyên xanh</p>
                        <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-lecuoi text-center">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720304495737/">
                <img src="img/gallery/tiệc 1.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Phóng sự cưới</h4>
                    <p>Minh Trang & Hà Lâm</p>
                    <a href="~/img/gallery/tiệc 1.png" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-event text-center">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720304065214/">
                    <img src="img/gallery/MinhXu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Event</h4>
                        <p>MC Minh Xù</p>
                        <a href="~/img/gallery/MinhXu.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </a>
            </div>



            <div class="col-lg-4 col-md-6 portfolio-item filter-prewedding text-center">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720307481634/">
                    <img src="img/gallery/1 (19).jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Prewedding</h4>
                        <p>Cường & Hân</p>
                        <a href="~/img/gallery/1 (19).jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-prewedding text-center">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720316278342">
                    <img src="img/gallery/DSC06888.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PreWedding</h4>
                        <p>Nhân & Hằng 2</p>
                        <a href="img/gallery/ThanhThuy.png" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-prewedding text-center">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720316281832">
                    <img src="img/gallery/DSC07270.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PreWedding</h4>
                        <p>Nhân & Hằng 2</p>
                        <a href="img/gallery/ThanhThuy.png" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-chandung text-center">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720316300829">
                    <img src="img/gallery/01.04 mau 114725.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Chân dung</h4>
                        <p>Nhím</p>
                        <a href="img/gallery/01.04 mau 114725.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-chandung text-center">
                <a href="https://www.flickr.com/photos/195690727@N05/albums/72177720316281275">
                    <img src="img/gallery/MAU 20920.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Chân dung</h4>
                        <p>Thục</p>
                        <a href="img/gallery/MAU 20920.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End San pham Section -->