@inject DoAnMonHoc.Data.ApplicationDbContext db;

<!-- ======= San Pham Section ======= -->
<section id="sanpham" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Sản phẩm</h6>
            <h1 class="font-awesome display-4">AZ & Studio</h1>
            <i class="far fa-heart text-dark"></i>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-prewedding">Pre-Wedding</li>
                    <li data-filter=".filter-card">Kỷ Yếu</li>
                    <li data-filter=".filter-web">Fashion</li>
                    <li data-filter=".filter-lecuoi">Lễ cưới</li>
                    <li data-filter=".filter-event">Sự kiện</li>
                    <li data-filter=".filter-chandung">Chân Dung</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            @foreach(var item in db.Album.ToList())
            {
                <div class="col-lg-4 col-md-6 portfolio-item text-center @item.Type">
                    <a href="@item.LinkOutAlbumAnh">
                        <img src="@item.LinkAlbumAnh" class="img-fluid" alt="">
                        <div class="portfolio-info text-center">
                            <h4>@item.TenAlbum</h4>
                            <p>@item.GhiChu</p>
                            <a href="@item.LinkAlbumAnh" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</section>
<!-- End San pham Section -->