@model IEnumerable<DoAnMonHoc.ViewModel.ChiTietHoaDonVM>

@if(Model.Count() > 0)
{
    <div class="container">
        <h2 class="mt-4">Các đơn hàng đã đặt của khách hàng @User.Identity!.Name</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Mã chi tiết hóa đơn</th>
                    <th>Ngày đặt</th>
                    <th>Ngày giao dự kiến</th>
                    <th>Họ tên</th>
                    <th>Tổng tiền</th>
                    <th>Phí vận chuyển</th>
                    <th>Địa chỉ</th>
                    <th>Số ĐT</th>
                    <th>Mã hóa đơn</th>
                    <th>Ảnh sản phẩm</th>
                    <th>Mã sản phẩm</th>
                    <th>Ghi chú</th>
                    <th>Phương thức thanh toán</th>
                    <th>Số lượng</th>
                    <th>Tên sản phẩm</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaChiTietHD</td>
                        <td>@item.NgayDat.ToShortDateString()</td>
                        <td>@(item.NgayGiaoDuKien.HasValue ? item.NgayGiaoDuKien.Value.ToShortDateString() : "")</td>
                        <td>@item.HoTen</td>
                        <td>@item.TongTien</td>
                        <td>@item.PhiVanChuyen</td>
                        <td>@item.DiaChi</td>
                        <td>@item.DienThoai</td>
                        <td>@item.MaHoaDon</td>
                        <td><img src="~/img/danhmuc/@item.anh" alt="@item.TenSanPham" style="max-width: 100px; max-height: 100px;" /></td>
                        <td>@item.MaSanPham</td>
                        <td>@item.GhiChu</td>
                        <td>@item.PhuongThucThanhToan</td>
                        <td>@item.SoLuong</td>
                        <td>@item.TenSanPham</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-action="Index" asp-controller="Product">Trở về</a>
}
else
{
    <h1>không có đơn hàng nào ở đây cả</h1>
    <a asp-action="Index" asp-controller="Product">Trở về</a>
}