@model List<DoAnMonHoc.ViewModel.AppUser>

<style>
    .btn {
        border-radius: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>

<p class="h1 myt-2 mb-5">Quản Lý Hồ Sơ Khách Hàng</p>

<div class="container">

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Tên đăng nhập</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }
            @foreach (var user in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@user.Name</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Address</td>
                    <td>

                        <a asp-action="Detail" asp-route-id="@user.Id" class="btn btn-outline-primary btn-sm">Detail</a>
                        <a asp-action="ResetPassword" asp-route-id="@user.Id" class="btn btn-outline-warning btn-sm">ResetPassword</a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-outline-danger btn-sm" onclick="return confirm('Bạn có chắc muốn xóa Hồ sơ này?')">Xóa</a>
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index" asp-controller="ProductAdmin" class="btn btn-outline-primary btn-sm">Quay lại</a>
    </div>
</div>