@model DoAnMonHoc.ViewModel.Paging<Album>

<div class="container-fluid bg-secondary mb-2 d-flex justify-content-center align-items-center" style="min-height: 200px; position: relative;">
    <img src="~/img/shop/header_shop.jpg" alt="AZ Studio Shop Header Image" class="position-absolute top-0 left-0 w-100" style="max-height: 100%; object-fit: cover;" />
    <div class="d-flex flex-column align-items-center justify-content-center text-white" style="z-index: 1;">
        <h1 class="font-weight-semi-bold mb-3">AZ-Studio Quản lý Album</h1>
    </div>
</div>

<div class="container">
    
    <a href="/ProductAdmin" class="btn btn-primary">Quay lại</a>

    <div class="btn-group float-end mb-4">
        <a class="btn btn-success round" href="/AlbumAdmin/AddEdit/0">
            <i class="fas fa-plus-square"></i>
        </a>
    </div>

    <table class="table table-bordered" id="table">
        <thead class="table-dark">
            <tr>
                <td>Id</td>
                <td>Tên Album</td>
                <td>Ghi chú</td>
                <td>Link Album</td>
                <td>Ảnh</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.AlbumId</td>
                    <td>@item.TenAlbum</td>
                    <td>@item.GhiChu</td>
                    <td>
                        <a href="@item.LinkOutAlbumAnh" target="_blank">Xem</a>
                    </td>
                    <td>
                        <img src="@item.LinkAlbumAnh" style="width: 100px; height: 100px" />
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/AlbumAdmin/AddEdit/@item.AlbumId">Sửa</a>
                        <a class="btn btn-danger" href="/AlbumAdmin/Delete/@item.AlbumId">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <div class="pagination">
        @if (Model.HasPreviousPage)
        {
            <a asp-action="Index" class="btn btn-link" asp-route-page="@(Model.CurrentPage - 1)">Trước</a>
        }

        <p class="btn btn-link">trang @Model.CurrentPage</p>

        @if (Model.HasNextPage)
        {
            <a asp-action="Index" class="btn btn-link" asp-route-page="@(Model.CurrentPage + 1)">Tiếp</a>
        }
    </div>
</div>