@model IEnumerable<DoAnMonHoc.Models.Booking>
<body>

    <div class="container-fluid bg-secondary mb-2 d-flex justify-content-center align-items-center" style="min-height: 200px; position: relative;">
        <img src="~/img/shop/header_shop.jpg" alt="AZ Studio Shop Header Image" class="position-absolute top-0 left-0 w-100" style="max-height: 100%; object-fit: cover;" />
        <div class="d-flex flex-column align-items-center justify-content-center text-white" style="z-index: 1;">
            <h1 class="font-weight-semi-bold mb-3">AZ-Studio Danh sách đặt lịch</h1>
        </div>
    </div>


    <div class="container mt-4">
        <div class="container">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr class="text-nowrap">
                        <th scope="col">Mã đặt lịch</th>
                        <th scope="col">Họ và Tên</th>
                        <th scope="col">Số Điện Thoại</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gói Chụp</th>
                        <th scope="col">Địa Chỉ</th>
                        <th scope="col">Ghi Chú</th>
                        <th scope="col">Thời Gian Chụp Dự Kiến</th>
                        <th scope="col">Thời Gian đặt lịch</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in Model)
                    {
                        <tr>
                            <td>@booking.Madatlich</td>
                            <td>@booking.Hovaten</td>
                            <td>@booking.Sđt</td>
                            <td>@booking.Email</td>
                            <td>@booking.Tengoichup</td>
                            <td>@booking.Diachi</td>
                            <td>@booking.Ghichu</td>
                            <td>@booking.Ngaydukienchup</td>
                            <td>@booking.Thoigianlienheit</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a asp-action="Index" asp-controller="ProductAdmin" class="btn btn-primary btn-sm ml-5"> Trở về</a>
</body>